@charset "UTF-8";

.parent {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    justify-content: center;
    }
    
    .div1 { grid-area: 1 / 2 / 2 / 6; }
    .div2 { grid-area: 2 / 2 / 6 / 6; }
    .div3 { grid-area: 2 / 3 / 5 / 5; }
    .div5 { grid-area: 6 / 2 / 7 / 6; }

    body{
        background-color: #666666; 
        background-image: url('https://images.pexels.com/photos/15462344/pexels-photo-15462344.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        
        
    }

    .div1 {
       background-color: rgba(255, 255, 255, 0.478);
       text-align: center;
       margin: 10px -60px 10px -60px;
       border-radius: 13px;
       border: 2px solid #000000;
    }
    .div2 {
        background-color: rgba(255, 255, 255, 0.358);
        margin: 0px -25px 0px -25px;
        text-align: center;
        border: 2px solid #000000;
        border-radius: 10px;
        
        
        
        
        
        
    }
    .div3 {
        background-color: azure;
        margin: 80px -20px 23px -20px ;
        border: 3px solid #00000038; 
        text-align: center;
        max-height: 500px;
        min-height: 320px;
        max-width: 320px;
        min-width: 0px;
        border-radius: 57px;
        background: #ffffffd0;
        box-shadow:  25px 25px 58px #c4c4c484,
             -25px -25px 58px #ffffff;
             padding-top: 0px;

        
        
        

        
        
      
    }
    
        
        

    
    .div5 {
        background-color: azure;
        margin: 50px -60px 10px -60px;
        border: 2px solid #000000;
        border-radius: 10px;
        text-align: center;
        height: 70px;
        
        
    }

  